name: Quality Gates
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed to read commit messages accurately

      - name: Setup Node & Python
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          npm ci
          npx playwright install --with-deps
          # ADD THE JSON REPORTER HERE
          pip install pytest pytest-json-report 

      - name: Execute and Aggregate
        run: |
          MSG=$(git log -1 --pretty=%B)
          mkdir -p playwright-report
          
          # Initialize JSONs as empty objects {} so JSON.parse doesn't crash
          echo "{}" > playwright-report/results.json
          echo "{}" > api-report.json
          echo "{}" > k6-summary.json

          # PERFORMANCE
          if [[ "$MSG" == *"#full"* ]] || [[ "$MSG" == *"#perf"* ]]; then
            curl -L https://github.com/grafana/k6/releases/download/v0.49.0/k6-v0.49.0-linux-amd64.tar.gz | tar -xz
            sudo cp k6-v0.49.0-linux-amd64/k6 /usr/local/bin/
            k6 run tests_perf/smoke-load.js --summary-export=k6-summary.json || echo "k6 failed"
          fi

          # API
          if [[ "$MSG" == *"#full"* ]] || [[ "$MSG" == *"#api"* ]]; then
            pytest tests_python/ --json-report --json-report-file=api-report.json || echo "API failed"
          fi

          # UI
          TARGET_GREP=$([[ "$MSG" == *"#full"* ]] && echo "" || echo "@smoke")
          npx playwright test --grep "$TARGET_GREP" --project=chromium --workers=1 --reporter=json > playwright-report/results.json || echo "UI failed"

          node generate-dashboard.js

      - name: Upload Dashboard
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Quality-Dashboard
          path: dashboard.html
