name: Quality Gates
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed to read commit messages accurately

      - name: Setup Node & Python
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          npm ci
          npx playwright install --with-deps
          pip install pytest requests

      - name: Execute and Aggregate
        run: |
          MSG=$(git log -1 --pretty=%B)
          echo "Commit Message: $MSG"

          # Initialize report files to prevent aggregator from crashing if a file is missing
          mkdir -p playwright-report
          echo "{}" > playwright-report/results.json
          echo "{}" > api-report.json
          echo "{}" > k6-summary.json

          if [[ "$MSG" == *"#full"* ]] || [[ "$MSG" == *"#perf"* ]]; then
            echo "Running Performance Suite..."
            curl -L https://github.com/grafana/k6/releases/download/v0.49.0/k6-v0.49.0-linux-amd64.tar.gz | tar -xz
            ./k6-v0.49.0-linux-amd64/k6 run tests_perf/smoke-load.js --summary-export=k6-summary.json || true
          fi

          if [[ "$MSG" == *"#full"* ]] || [[ "$MSG" == *"#api"* ]]; then
            echo "Running API Suite..."
            pytest tests_python/ --json-report --json-report-file=api-report.json || true
          fi

          if [[ "$MSG" == *"#full"* ]]; then
             echo "Running Full UI Suite..."
             npx playwright test --reporter=json > playwright-report/results.json || true
          elif [[ "$MSG" == *"#smoke"* ]] || [[ -z "$MSG" ]]; then
             echo "Running Smoke UI Suite..."
             npx playwright test --grep @smoke --reporter=json > playwright-report/results.json || true
          fi

          # 2. Run the Aggregator
          echo "Aggregating all reports into dashboard.html..."
          node generate-dashboard.js

      - name: Upload Dashboard
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Quality-Dashboard
          path: dashboard.html
